#lyricsArea{
    width: 700px;
    background-color: #808080;
    padding: 20px;
}

body{
    background-color: #1b6d85;
}

#albumArt{
    width: 200px;
    border: 2px;
    border-style: solid;
    border-color: #8B0000;
    float: right;
}